.dropping {
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    padding: 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 0;
  }
}

.dropping__section {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  gap: 35px;
  width: max-content;
  margin: 0 auto;
}

.dropping__title {
  text-align: center;
}

.dropping__tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.dropping__panel {
  display: none;
  animation: fadein 0.8s;
}

.dropping__radio {
  display: none;
}

.dropping__radio--one:checked ~ .dropping__panels .dropping__panel--one,
.dropping__radio--two:checked ~ .dropping__panels .dropping__panel--two,
.dropping__radio--three:checked ~ .dropping__panels .dropping__panel--three,
.dropping__radio--for:checked ~ .dropping__panels .dropping__panel--for {
  display: block;
}

.dropping__tab {
  cursor: pointer;
  padding: 14px 22px;
  background-color: $bg-extra;
  color: $color-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 17px 22px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 22px 14px;
  }

  &:hover,
  &:focus {
    color: $color-black;
    border-bottom: 2px solid $color-black;
    outline: none;
  }

  &:active {
    color: $color-black;
    border-bottom: 2px solid $button-banners;
    outline: none;
  }
}

.dropping__radio--one:checked ~ .dropping__tabs .dropping__tab--one,
.dropping__radio--two:checked ~ .dropping__tabs .dropping__tab--two,
.dropping__radio--three:checked ~ .dropping__tabs .dropping__tab--three,
.dropping__radio--for:checked ~ .dropping__tabs .dropping__tab--for {
  color: $text-accent;
  border-bottom: 2px solid $button-banners;
  outline: none;
}


.dropping__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropping__item {
  background: $background;
  text-align: center;
}
