.dropping {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  gap: 35px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 45px;
    gap: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 40px;
    padding: 0;
    padding-top: 49px;
  }
}

.dropping__tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, 1fr);
    height: min-content;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 1px;
  }
}

.dropping__panels {
  border-top: 1px solid $button-border;
}

.dropping__panel {
  display: none;
  animation: fadein 0.8s;
}

.dropping__radio {
  display: none;
}

.dropping__radio--one:checked ~ .dropping__panels .dropping__panel--one,
.dropping__radio--two:checked ~ .dropping__panels .dropping__panel--two,
.dropping__radio--three:checked ~ .dropping__panels .dropping__panel--three,
.dropping__radio--for:checked ~ .dropping__panels .dropping__panel--for {
  display: block;
}

.dropping__tab {
  cursor: pointer;
  padding: 14px 22px;
  background-color: $bg-extra;
  color: $color-black;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  border: 1px solid rgba($color-black, 0.2);
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 17px 22px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 22px 14px;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-black;
    outline: none;
  }

  &:active {
    border: 1px solid transparent;
    border-image: $background-hover;
    border-image-slice: 1;
    color: $color-white;
    background: $background-hover;
  }
}

.dropping__radio--one:checked ~ .dropping__tabs .dropping__tab--one,
.dropping__radio--two:checked ~ .dropping__tabs .dropping__tab--two,
.dropping__radio--three:checked ~ .dropping__tabs .dropping__tab--three,
.dropping__radio--for:checked ~ .dropping__tabs .dropping__tab--for {
  border: 1px solid transparent;
  border-image: $background-hover;
  border-image-slice: 1;
  color: $color-white;
  background: $background-hover;
}
