.header {
  position: relative;
  padding: 13px 0 12px;
  background-color: $background;

  @media (min-width: $tablet-width) {
    padding: 25px 0 15px;
  }
}

.header__logo-sign {
  text-decoration: none;
  width: 170px;
  height: 19px;
  margin: 10px 3px 0 0;


  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__wrraper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  text-decoration: none;
  width: 33px;
  height: 38px;

  @media (min-width: $tablet-width) {
    min-width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.header__toggler {
  width: 24px;
  height: 16px;
  background: transparent;
  border: none;
  padding: 20px 6px 20px 20px;
  margin-left: 5px;

  position: relative;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active:not(:hover) {
    opacity: 0.3;
  }

  span {
    width: 24px;
    height: 2px;
    background-color: $color-black;
    transition: 0.3s ease;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &:nth-child(1) {
      top: 9px;
    }

    &:nth-child(2) {
      top: 17px;
    }

    &:nth-child(3) {
      top: 25px;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__toggler.is-active {
  span {
    &:nth-child(1) {
      transform: translate(-34%, 8px) rotate(-47deg);
    }

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      transform: translate(-31%, -8px) rotate(47deg);
    }
  }
}

.header.no-js {
  padding: 13px 0 0;
}

.header__toggler.no-js {
  display: none;
}

.header__wrraper.no-js {
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
  }
}

.no-js .header__logo-sign {
  display: grid;
  grid-template-columns: 2 / 3;
  text-align: start;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
