/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  // font-family: "Montserrat", "Arial", sans-serif;
  min-width: 320px;
  min-height: 100%;
  font-size: 14px;
  line-height: 20px;
  color: $color-black;
  background-color: $color-white;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

.main-page {
  flex-grow: 1;
}
