/* здесь используйте глобальные переменные */


// текст
$color-black: #000000;
$color-basic: #2d383f;
$color-white: #ffffff;
$text-accent: rgba(185, 8, 8, 0.5);
$color-disabled: #999999;

// Background Colors
$background: rgba(11, 92, 85, 0.2);
$background-hover: rgba(9, 184, 67, 0.2);
$bg-extra: #f8f9fc;
$bg-header: #0266c1;

// button color
$button-banners: #ed0233;
$button-border: #74819c;
$button-extra: #1c3374;

// Заливка кнопки, обводка плашек
$stroke: linear-gradient(149deg, #d10a42 0.85%, #00359f 100%);

//  Вьюпорты
$desktop-width: 1240px;
$tablet-width: 768px;
$mobile-width: 767px;


//  Шрифты
$font-300: "Montserrat Light", sans-serif;
$font-400: "Montserrat Regular", sans-serif;
$font-500: "Montserrat Medium", sans-serif;
$font-600: "Montserrat SemiBold", sans-serif;
$font-700: "Montserrat Bold", sans-serif;
$font-800: "Montserrat ExtraBold", sans-serif;
