// Vendor
@import "vendor/normalize";
@import "vendor/swiper";

/* GLOBAL */
@import "./global/variables";
@import "./global/global";
@import "./global/container";
@import "./global/visually-hidden";

/* BLOCKS */
@import "./blocks/header";
@import "./blocks/logo";
@import "./blocks/site-list";
@import "./blocks/title";
@import "./blocks/button";
@import "./blocks/hero";
@import "./blocks/dropping";
@import "./blocks/links";
@import "./blocks/swiper";
